<h1 class="headline" id="headline">Dashboard</h1>
<p class="info">Number games: {{gameAmount}}</p>
<p class="info">Number developers: {{developerAmount}}</p>
<p class="info">Average amount of developers per game: {{avgDevelopersPerGame}}</p>
<p class="info">Graph with developers as nodes and links if two developers developed the same game:</p>
<p class="info">Right click to get to the respective card in Games/Developers</p>
<div id="developer-graph"></div>
<p class="info">Most played games:</p>
<div class="cards-grid">
  @for (item of mostPlayedNGames; track $index) {

  <app-game-card [gameData]="item"></app-game-card>
  }
</div>